.card-info {
    width: calc(100% - 400px);
    display: flex;
    gap: 100px;
    margin: 0 auto;
    justify-content: center;
}

.card-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(140deg, #495c45, #080908, #080908, #495c45);
    border-radius: 20px;
    box-shadow: 0 0 10px #495c45;
}

.card__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    padding: 20px;
    background: linear-gradient(140deg, #495c45, #080908, #080908, #495c45);
    border-radius: 20px;
    box-shadow: 0 0 10px #495c45;
}

.description__title {
    margin-bottom: 20px;
}

.profile__img {
    border-radius: 15px;
    margin-bottom: 20px;
}

.profile__name {
    filter: drop-shadow(0 0 5px #adbbaa);
    color: #adbbaa;
    margin-bottom: 10px;
    font-size: xx-large;
}

.profile-language {
    background: #495c4534;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: large;
}

.profile__description {
    margin-bottom: 10px;
}

.profile-languages {
    list-style: none;
}

.more-info {
    margin-top: auto;
    padding: 10px 30px;
    background: #495c45;
    border-radius: 10px;
    border: 1px solid #495c45;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #e7e9e6;
}

.more-info:hover {
    background: #495c45;
    filter: drop-shadow(0 0 5px #495c45);
}